.projects{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
h1{
  width:100%
}
.filters{
  width:80vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
 *{
   margin:.5vw;
 }
}