.main{
  background-color: gray
}
.footer{
  background-color: gray;
  width:80vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-around;
  align-items: center;
  
}
.footer.copyright{
  flex:1;
}
.footer .socialmedia{
  width:10vw;
  margin-left:10vw;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;

}
.footer .menu{
  flex:1;
}
.footer .menu ul li{
text-decoration: none;
display: inline;
margin-left:1vw;
text-align: center;
justify-content: center;
}