.main{
  background-color: gray
}
.footer{
  background-color: gray;
  width:80vw;
  height:6vh;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  align-items: center;
  
}
.footer.copyright{
  width:40%;
}
.footer .socialmedia{
  width:25%;
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .fa-instagram{
    color:#ffff;
  }
  .fa-codepen{
    color:#fff;
  }
  .fa-facebook{
    color:#4267B2;
  }
}

