.aboutme{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: center;
}
.box1{
  background-color:white;
  
}
.shadow1{
  position:relative;
  width:87%;
  height:85vh;
  margin-left:6%;
  border:2px solid #fff;
  border-radius:5px;
}
.shadow1:before, .shadow1:after{
  position:absolute;
  content:"";
  bottom:25px;
  left:1vw;
  top:20vw;
  width:40vw;
  background:white;
  z-index:-1;
  -webkit-box-shadow: 0 0 0px #fff;
  -moz-box-shadow: 0 0 0 #fff;
  box-shadow: 0 30px 15px gray;
  -webkit-transform: rotate(-6deg);
  -moz-transform: rotate(-6deg);
  transform: rotate(-6deg);
}
.shadow1:after{
  -webkit-transform: rotate(6deg);
  -moz-transform: rotate(6deg);
  transform: rotate(6deg);
  right: 15px;left: auto;
}
.aboutme .content{
  width:90%;
}
.aboutme p{
  font-size: 5vh;
  text-align: justify;
  
}